<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <img src="{{ site.baseurl }}/nsf_white_logo.png" alt="NSF" width="35" style="float: left; padding-right: 10px">
        The ASRP website organizes information about <em>Arabidopsis thaliana</em> small RNAs.
        This site is funded by NSF grant MCB-1231726.
        All small RNAs have either been isolated by the ASRP or published by other labs.
      </div>

      <div class="footer-col  footer-col-3">
        COPYRIGHT © 2016. CARRINGTON LAB.
      </div>
    </div>

  </div>

</footer>
